.dashboard {
	display: flex;
	width: 100vw;
	box-sizing: border-box;
	min-height: 100vh;
}

.tableWrapper {
	padding: 16px;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.placeHolder {
	flex: 1;
	display: flex;
	justify-content: center;
	padding-top: 32px;
}
