* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	background-color: #202020;
	color: #f0f0f0;
}

main {
	width: 100vw;
	height: 100vh;
}

td,
th {
	padding: 4px;
}

td {
	background-color: #303030;
	border-radius: 2px;
}
